.my-ride-request-table {
  min-width: 1050px;
}

.my-ride-request-table th,
.my-ride-request-table td {
  vertical-align: top;
}

.my-ride-request-table td:nth-child(5) {
  max-width: 240px;
  white-space: normal;
}
